* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.post-container {
    width: 60%;
    height: 300px;
    background-color: rgb(231, 231, 235);
    margin: auto;
    margin-top: 100px;
}

h2 {
    position: relative;
    left: 20px;
}

.nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
    width: 200px;
    height: 100px;
    background-color: rgb(181, 180, 180);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 200px;
}